<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
</head>

<body>
    <%- include('layouts/navbar') %>
        <h1>all blocks</h1>

        <div class="container">
            <div class="accordion" id="accordionExample">
                <% blocks.forEach(b=> { %>
                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading-<%= b.index %>">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-<%= b.index %>" aria-expanded="false"
                                aria-controls="collapse-<%= b.index %>">
                                <%= b.hash %>
                            </button>
                        </h2>

                        <div id="collapse-<%= b.index %>" class="accordion-collapse collapse"
                            aria-labelledby="heading-<%= b.index %>" data-bs-parent="#accordionExample">
                            <div class="accordion-body table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Index</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.index %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Previous Hash</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.previousHash %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Timestamp</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.timestamp %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Voter ID</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.data.voterID %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Candidate ID</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.data.candidateID %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Signature</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.data.signature %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">hash</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.hash %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Difficulty</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.difficulty %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Nonce</th>
                                            <td>:</td>
                                            <td>
                                                <%= b.nonce %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <% }) %>
            </div>
        </div>
        <script src="bootstrap/bootstrap.min.js"></script>
</body>

</html>