<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">

  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('layouts/navbar') %>

    <div class="container">
      <div class="row candidate-container">
        <% candidate.forEach(c=> { %>
          <div class="col-md-3 my-4">
            <div class="card" style="width: 18rem;">
              <img src="http://localhost/photo/candidates/<%= c.photo %>" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">
                  <%= c.candidate %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <%= c.viceCandidate %>
                </h6>
                <!-- modal button delete voter -->
                <form method="post" action="/vote" id="formVoting">
                  <input type="hidden" name="voterID" id="voterID" value="<%= voter._id %>">
                  <input type="hidden" name="candidateID" id="candidateID">
                  <input type="hidden" name="signature" id="signature">

                  <input type="button" class="btn btn-danger" onclick="proses('<%= c._id %>')" value="Vote">
                  <!-- <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="return confirm(`are you sure?`)">Vote</button> -->
                </form>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>

    <input type="file" name="inputfile" id="inputfile"><br>

    <script src="bootstrap/bootstrap.min.js"></script>
    <script>
      const inputButton = document.getElementById('inputfile')
      let privateKey = ''
    </script>
    <script src="signature.js"></script>
    <script src="file.js"></script>

</body>

</html>